@model IEnumerable<QuizApp.ViewModel.Managing.TestingUrlViewModel>
@{
    ViewBag.Title = "TestingUrlManagement";
}
<html>
<head>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>TestingUrlManagement</h2>
        <hr />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        UrlInstance
                    </th>
                    <th>
                        Guid
                    </th>
                    <th>
                        TestGuid
                    </th>
                    <th>
                        TestName
                    </th>
                    <th>
                        Interviewee
                    </th>
                    <th>
                        NumberOfRuns
                    </th>
                    <th>
                        AllowedStartDate
                    </th>
                    <th>
                        AllowedEndDate
                    </th>
                    <th>
                        IsValid
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
        </table>
    </div>

</body>
</html>

@section scripts
{
    <script type="text/javascript">
        //Load Data in Table when documents is ready
        $(document).ready(function() {
            loadData();
        });

        //Load Data function
        function loadData() {
            $.ajax({
                url: "/Admin/GetAllTestingUrls",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function(result) {
                    var html = '';
                    $.each(result,
                        function(key, item) {
                            html += '<tr>';
                            html += `<td><a href="/Test/${item.Guid}" onclick="return ReferenceGuid('${item.Guid}')">http://Test/${item.Guid}</a></td>`;
                            html += '<td>' + item.Guid + '</td>';
                            html += '<td>' + item.TestGuid + '</td>';
                            html += '<td>' + item.TestName + '</td>';
                            html += '<td>' + item.Interviewee + '</td>';
                            html += '<td>' + item.NumberOfRuns + '</td>';
                            html += '<td>' + item.AllowedStartDate + '</td>';
                            html += '<td>' + item.AllowedEndDate + '</td>';
                            html += '<td>' + item.IsValid + '</td>';

                            html +=
                                `<td><a href="#" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myUrls" onclick="return RemoveTestingUrl('${item.Guid}')">Delete URL</a></td>`;
                        });
                    $('.tbody').html(html);
                },
                error: function(errormessage) {
                    alert("ERROR");
                }
            });
        }

        function RemoveTestingUrl(guid) {
            var ans = confirm("Are you sure you want to delete this Record?");
            if (ans) {
                debugger;
                var delObj =
                {
                    testingUrlGuid: guid
                };

                $.ajax({
                    data: JSON.stringify(delObj),
                    url: "/Apilike/RemoveTestingUrl",
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",

                    success: function(result) {
                        // Отут треба відіслати^^^^^
                        alert("Успешно!");
                        loadData();
                    },
                    error: function(errormessage) {
                        alert("ERROR!!!");
                    }
                });
            }
        }

    </script>
}